.input-container {
  width: 100%;
  line-height: 2rem;
}

.input-label {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--off-white);
}

.input-field {
  display: block;
  font-size: 1.6rem;
  width: 100%;
  border: 1px solid var(--grey);
  padding: 1rem 1.2rem;
  margin: 0.5rem 0;
  transition: 0.3s all ease;
  outline: none;
  border-radius: 0.5rem;
  color: var(--black-500);
}

.input-field:focus {
  color: var(--black);
  border: 1px solid var(--blueGrey-500);
}

.input-container.input-success .input-field {
  border: 1px solid var(--success-600);
  background-color: var(--success-500);
}

.input-container.input-success .input-success-msg {
  font-size: 1.2rem;
  color: var(--success-600);
  font-weight: var(--font-w-medium);
}

.input-container.input-error .input-label {
  color: var(--danger-600);
}

.input-container.input-error .input-field {
  border: 1px solid var(--danger-600);
  background-color: var(--danger-500);
}

.input-container.input-error .input-error-msg {
  font-size: 1.2rem;
  color: var(--danger-600);
  font-weight: 500;
}

.input-success-icon,
.input-error-icon {
  font-size: var(--font-s-sm);
}

.required-mark {
  font-size: 1.6rem;
  color: var(--danger-600);
}

.input-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.input-selector-label {
  font-size: var(--font-s-base);
}

.input-selector-field {
  accent-color: var(--primary-color);
}

.slider-wrapper {
  border: 1px solid var(--grey);
  width: 100%;
  padding: 6px;
  border-radius: 10px;
}

.slider {
  width: 100%;
  height: 5px;
}
