.rating {
  display: flex;
  gap: 3px;
  padding: 1rem;
}

.rating-icon {
  cursor: pointer;
  font-size: 1.6rem;
}

.rating-checked {
  color: var(--success-800);
}

.rating-badge {
  display: flex;
  gap: 8px;
  background-color: var(--success-800);
  padding: 8px;
  border-radius: 25px;
}

.rating-badge-text,
.rating-badge-icon {
  font-size: 1.6rem;
}

.rating-badge-text {
  font-weight: 500;
}
