.rating {
  display: flex;
  gap: 3px;
  padding: 1rem;
}

.rating-icon {
  cursor: pointer;
  font-size: 1.6rem;
}

.rating-checked {
  color: var(--success-400);
}

.rating-badge {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--white);
  background-color: var(--success-400);
  padding: 3px 5px;
  border-radius: 5px;
}

.rating-badge-text {
  font-size: 1.4rem;
}

.rating-badge-icon {
  font-size: 1rem;
}

.rating-badge-text {
  font-weight: 500;
}
