.snackbar-btn {
  cursor: pointer;
  padding: 1rem;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 500;
  background-color: var(--primary-color);
  color: var(--white);
  box-sizing: border-box;
}

.snackbar-btn:hover {
  background-color: var(--primary-hover);
  color: var(--white);
  font-weight: 500;
}

.snackbar-container {
  background-color: var(--white);
  align-items: center;
  gap: 1rem;
  position: fixed;
  bottom: 0;
  padding: 1rem;
}

.snackbar-content {
  font-size: 1.6rem;
  font-weight: 700;
  flex-basis: 80%;
  color: var(--black);
  padding: 1rem;
}

.snackbar-action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  flex-grow: 1;
  padding: 1rem;
}

.snackbar-action-item {
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--primary-color);
}

.snackbar-action-item i {
  font-size: 2rem;
  color: var(--black-500);
  padding: 0.5rem;
  height: 3rem;
  width: 3rem;
  text-align: center;
}

.snackbar-action-item i:hover {
  background-color: var(--black-hover);
  border-radius: 50%;
}
