/* Active state css */

.active-state {
  color: var(--active-hover);
}

/* Code snippet css */

code {
  padding: 0.2rem 0.4rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  background-color: var(--default-hover);
  color: var(--active-color);
}

/* component showcase css */

.component-showcase {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: var(--off-white);
  background-color: var(--default-hover);
  padding: 2rem;
  gap: 2rem;
  margin-bottom: 3rem;
  box-shadow: 0 0 5px rgb(0 0 0 / 60%);
}

.component-code-showcase {
  width: 100%;
  margin-bottom: 1rem;
}
