.active-state {
  color: var(--active-hover);
}

/* component showcase css */

.component-showcase {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--default-hover);
  padding: 2rem;
  gap: 2rem;
  margin-bottom: 3rem;
}

.component-code-showcase {
  margin-bottom: 1rem;
}
