.active-state {
  color: var(--active-hover);
}

/* component showcase css */

.component-showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10rem;
}

.showcase-badge {
  background-color: var(--secondary-400);
  padding: 2.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
