/* Docs css import */
@import url('base/utilities.css');
@import url('layout/navbar.css');
@import url('layout/footer.css');

/* Universal css import */
@import url('../../stylesheets/abstracts/colors.css');
@import url('../../stylesheets/abstracts/variables.css');
@import url('../../stylesheets/base/reset.css');
@import url('../../stylesheets/base/typography.css');
@import url('../../stylesheets/base/utilities.css');

body {
  background-color: var(--default-color);
}

.container {
  min-height: 100vh;
  width: 100%;
}

/* landing page */

.landing-section {
  display: flex;
  align-items: center;
  max-width: 80%;
  margin: auto;
  padding: 2rem;
  min-height: calc(100vh - 98px);
}

.hero-content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
}

.hero-head {
  font-size: 3.2rem;
  color: var(--text-color);
}

.hero-desc {
  font-size: 2.3rem;
  font-weight: 500;
  color: var(--off-white);
}

.hero-btns {
  display: flex;
  gap: 1rem;
}

.hero-btns .btn {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 2.3rem;
}

/* docs */

.doc-container {
  display: flex;
  max-width: 100%;
}

/* sidebar */

.sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 250px;
  background-color: var(--secondary-400);
  color: var(--white);
  min-height: calc(100vh - 98px);
}

.sidebar-heading {
  margin-top: 3rem;
  padding: 0 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-color);
}

.sidebar-items {
  margin-top: 1.5rem;
  padding: 0 3rem;
  list-style: none;
  border-top: 2px solid var(--secondary-color);
}

.sidebar-items-link {
  margin: 20px 0;
}

.sidebar-items-link a {
  font-size: 1.8rem;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}

.sidebar-items-link a:hover {
  color: var(--active-color);
}

/* main-content */

.main-content {
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 2rem;
}

.main-head {
  font-size: 3.2rem;
  font-weight: 800;
  margin-bottom: 1.6rem;
  color: var(--active-color);
}

.main-subhead {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1.6rem;
  color: var(--active-color);
}

.main-desc {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: var(--off-white);
  letter-spacing: 1px;
  word-spacing: 1px;
  line-height: 1.6;
}

.section-change {
  margin-bottom: 1rem;
  max-width: 100%;
  height: 3px;
  background-color: var(--secondary-400);
}

/**Pagination**/

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem;
}

.pagination-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--black);
  transition: all 0.3s ease-in-out;
}

.pagination-link i {
  font-size: 2rem;
}

.pagination-link:hover {
  color: var(--active-hover);
}

/* Media query for small devices */

@media only screen and (max-width: 992px) {
  .landing-section {
    flex-direction: column;
  }

  .hero-content {
    order: 1;
  }

  .hero-head,
  .hero-desc,
  .hero-btns {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .hero-head {
    font-size: 2.3rem;
  }

  .hero-desc,
  .hero-btns .btn {
    font-size: 1.8rem;
  }

  .sidebar {
    display: none;
  }
}
