/* Docs css import */
@import url('base/utilities.css');
@import url('layout/navbar.css');
@import url('layout/footer.css');

/* Universal css import */
@import url('../../stylesheets/abstracts/colors.css');
@import url('../../stylesheets/abstracts/variables.css');
@import url('../../stylesheets/base/reset.css');
@import url('../../stylesheets/base/typography.css');
@import url('../../stylesheets/base/utilities.css');

body {
  background-color: var(--default-color);
}

.container {
  min-height: 100vh;
  width: 100%;
}

/* landing page */

.landing-section {
  display: flex;
  align-items: center;
  max-width: 80%;
  margin: auto;
  padding: 2rem;
  min-height: calc(100vh - 98px);
}

.hero-content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  max-width: 50%;
}

.hero-head {
  font-size: var(--font-s-xl);
  line-height: inherit;
  color: var(--text-color);
}

.hero-desc {
  font-size: var(--font-s-lg);
  font-weight: var(--font-w-medium);
  color: var(--off-white);
}

.hero-btns {
  display: flex;
  gap: 1rem;
}

.hero-btns .btn {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: var(--font-s-lg);
}

/* docs */

.doc-container {
  display: flex;
  max-width: 100%;
}

/* sidebar */

.sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 250px;
  background-color: var(--secondary-400);
  color: var(--white);
  min-height: calc(100vh - 98px);
}

.sidebar-heading {
  margin-top: 3rem;
  padding: 0 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-color);
}

.sidebar-items {
  margin-top: 1.5rem;
  padding: 0 3rem;
  list-style: none;
  border-top: 2px solid var(--secondary-color);
}

.sidebar-items-link {
  cursor: pointer;
  margin: 10px 0;
  padding: 1rem;
  border-radius: 5px;
}

.sidebar-items-link:hover {
  color: var(--active-color);
  background-color: var(--secondary-400);
  transition: all 0.3s ease-in-out;
}

.sidebar-items-link a {
  display: block;
  font-size: 1.8rem;
  font-weight: 400;
}

/* main-content */

.main-content {
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 2rem;
}

.main-head {
  font-size: 3.2rem;
  font-weight: 800;
  margin-bottom: 1.6rem;
  color: var(--active-color);
}

.main-subhead {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1.6rem;
  color: var(--active-color);
}

.main-desc {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: var(--off-white);
  letter-spacing: 1px;
  word-spacing: 1px;
  line-height: 1.6;
}

.section-change {
  margin-bottom: 1rem;
  max-width: 100%;
  height: 3px;
  background-color: var(--secondary-400);
}

/**Pagination**/

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem;
}

.pagination-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--text-color);
}

.pagination-link i {
  font-size: 2rem;
}

.pagination-link:hover {
  color: var(--active-hover);
  transition: all 0.3s ease-in-out;
}

/* Theme css */

.theme-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 150px;
  height: 150px;
  padding: 1rem;
  font-size: 2.3rem;
  font-weight: 600;
  border: 2px solid var(--grey);
  border-radius: 5px;
}

.theme-box-default {
  background-color: var(--default-color);
}

.theme-box-default-hover {
  background-color: var(--default-hover);
}

.theme-box-primary {
  background-color: var(--primary-color);
}

.theme-box-primary-hover {
  background-color: var(--primary-hover);
}

.theme-box-secondary {
  background-color: var(--secondary-color);
}

.theme-box-secondary-hover {
  background-color: var(--secondary-hover);
}

.theme-box-active {
  background-color: var(--active-color);
}

.theme-box-active-hover {
  background-color: var(--active-hover);
}

.theme-box-link-hover {
  background-color: var(--link-hover);
}

.theme-box-text {
  background-color: var(--text-color);
  color: var(--black);
}

/* Palette css */

.theme-box-success-800 {
  background-color: var(--success-800);
}
.theme-box-success-700 {
  background-color: var(--success-700);
}
.theme-box-success-600 {
  background-color: var(--success-600);
}
.theme-box-success-500 {
  background-color: var(--success-500);
  color: var(--black);
}
.theme-box-success-400 {
  background-color: var(--success-400);
}
.theme-box-danger-800 {
  background-color: var(--danger-800);
}
.theme-box-danger-700 {
  background-color: var(--danger-700);
}
.theme-box-danger-600 {
  background-color: var(--danger-600);
}
.theme-box-danger-500 {
  background-color: var(--danger-500);
  color: var(--black);
}
.theme-box-warning-800 {
  background-color: var(--warning-800);
}
.theme-box-warning-700 {
  background-color: var(--warning-700);
}
.theme-box-warning-600 {
  background-color: var(--warning-600);
}
.theme-box-warning-500 {
  background-color: var(--warning-500);
  color: var(--black);
}
.theme-box-setting-700 {
  background-color: var(--setting-700);
}
.theme-box-setting-600 {
  background-color: var(--setting-600);
}
.theme-box-setting-500 {
  background-color: var(--setting-500);
  color: var(--black);
}
.theme-box-info-700 {
  background-color: var(--info-700);
}
.theme-box-info-500 {
  background-color: var(--info-500);
  color: var(--black);
}
.theme-box-primary-400 {
  background-color: var(--primary-400);
  color: var(--black);
}
.theme-box-black {
  background-color: var(--black);
}
.theme-box-black-500 {
  background-color: var(--black-500);
}
.theme-box-white {
  background-color: var(--white);
  color: var(--black);
}
.theme-box-white-hover {
  background-color: var(--white-hover);
  color: var(--black);
}
.theme-box-grey {
  background-color: var(--grey);
  color: var(--black);
}
.theme-box-grey-500 {
  background-color: var(--grey-500);
  color: var(--black);
}

/* Media query for small devices */

@media only screen and (max-width: 992px) {
  .landing-section {
    flex-direction: column;
  }

  .hero-content {
    order: 1;
    padding: 2rem 0;
    max-width: 100%;
  }

  .hero-head,
  .hero-desc,
  .hero-btns {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .hero-head {
    font-size: var(--font-s-lg);
  }

  .hero-desc,
  .hero-btns .btn {
    font-size: var(--font-s-base);
  }

  .sidebar {
    display: none;
  }
}
